<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>ficheinfos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="" translucent="true">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="center">{{fiches.date}}</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-list-header>
        <h3>Forfait</h3>
      </ion-list-header>
      <div *ngFor="let forfaitList of fiches.forfait">
        <ion-item *ngFor="let item of forfaitList.valeurs">
          <ion-label>{{item.libelle}}({{item.prix}}€)</ion-label>
          <ion-label slot="end">Quantité : {{item.quantite}}</ion-label>
        </ion-item>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <h3>Hors Forfait</h3>
      </ion-list-header>
      <div *ngFor="let forfaitList of fiches.horsforfait">
        <ion-item *ngFor="let item of forfaitList.valeurs">
          <ion-label>{{item.libelle}}({{item.prix}}€)</ion-label>
          <ion-label slot="end">{{item.date}}</ion-label>
        </ion-item>
      </div>
    </ion-list>

  </ion-card>
</ion-content>